<launch>

  <node pkg="time_optimizer" type="demo" name="demo" output="screen" required = "true">

      <remap from="~waypoints"   to="/waypoint_generator/waypoints"/>
      
      <param name="planning/start_x"    value="0.0" />
      <param name="planning/start_y"    value="0.0" />
      <param name="planning/start_z"    value="1.0" />

      <param name="planning/d_s"        value="0.05"/>
      <param name="planning/max_vel"    value="4.0"  />
      <param name="planning/max_acc"    value="3.0"  />
      <param name="planning/max_d_acc"  value="3.0"  />
      <param name="planning/dev_order"  value="4"    />
      <param name="planning/min_order"  value="3"    />

      <param name="vis/vis_traj_width"  value="0.15" />
      <param name="vis/is_dump_data"    value="true" />

  </node>

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">        
      <remap from="~goal" to="/goal"/>
      <param name="waypoint_type" value="manual"/>    
  </node>

</launch>